<head>
    <link rel="stylesheet" href="../css/styles.css"/>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<footer class="bg-gray-800 text-white py-4 md:py-8">
    <div class="container mx-auto items-center flex flex-col mb-4  gap-4 text-xs md:flex-row md:items-start md:justify-between md:gap-0 sm:text-sm md:text-base lg:text-lg">
        <!-- Tech&Dev -->
        <div class="text-center px-2 md:text-left md:px-4">
            <h3 class="text-lg font-extrabold text-blue-400 mb-1 md:text-xl lg:text-2xl">
                Tech&Dev
            </h3>
            <p class="text-gray-300">Tu tienda de tecnología favorita</p>
        </div>
        <!-- Enlaces -->
        <div class="text-center px-2 md:text-left md:px-4">
            <h4 class="text-sm font-bold text-blue-300 mb-2 md:text-base lg:text-lg">
                Enlaces
            </h4>
            <ul class="space-y-1 md:space-y-2 ul-hover-parent">
                <li><a href="../index.html" target="_top">Inicio</a></li>
                <li><a href="../products.html" target="_top">Productos</a></li>
                <li><a href="../contact.html" target="_top">Contacto</a></li>
            </ul>
        </div>
        <!-- Contacto -->
        <div class="text-center px-2 md:text-left md:px-4">
            <h4 class="text-sm font-bold text-blue-300 mb-2 md:text-base lg:text-lg">
                Contacto
            </h4>
            <p class="text-gray-300 mb-1">
                <span>📧</span> contacto@techdev.com
            </p>
            <p class="text-gray-300 mb-1">
                <span>📞</span> +315 880 0287
            </p>
        </div>
    </div>
    <div class="text-center border-t border-gray-700 text-gray-400 text-xs pt-1 sm:pt-2 md:pt-6">
        <p>© 2023 Technology and Development. Todos los derechos reservados.</p>
    </div>
</footer>