<head>
  <link rel="stylesheet" href="../css/styles.css"/>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<nav class="bg-gray-800 text-white p-4">
  <div class="container mx-auto flex justify-between">
    <a class="text-2xl font-bold" href="../index.html" target="_parent">Tech&Dev</a>
    <div class="hidden space-x-6 md:flex div-hover-parent">
      <a href="../index.html" target="_parent">Inicio</a>
      <a href="../products.html" target="_parent">Productos</a>
      <a href="../cart.html" target="_parent">Carrito</a>
      <a href="../contact.html" target="_parent">Contacto</a>
    </div>
    <button class="md:hidden"x>☰</button>
  </div>
</nav>